@tailwind base;
@tailwind components;
@tailwind utilities;

.Adven {
  color: rgba(245, 245, 245, 0);
  font-family: Inter;

  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 9.979px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0d60fe;
}
.Adven1 {
  color: rgba(245, 245, 245, 0);
  font-family: Inter;

  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 9.979px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0d60fe;
}
.Review {
  font-size: 1.5rem;
  /* This is the default size for all screen sizes. */
}

@media (min-width: 576px) {
  .Review {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .Review {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .Review {
    font-size: 2.4rem;
  }
}
